@import '~styles/config';

.card {
  position: relative;
  margin: 20px 15px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 5px 5px rgba(#2c3e50, 0.2);
  user-select: none;
  transition: 0.25s;

  @media (min-width: $min-768) {
    width: 300px;
    height: 450px;
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 10px -10px rgba(#7f8c8d, 1);
  }

  &__tags {
    position: absolute;
    background-color: rgba(#37393a, 0.8);
    color: #ecf0f1;
    border-radius: 0.25rem;
    padding: 0.125rem 0.5rem;
    margin: 1rem;
  }

  &__container {
    @include rf(16, 18);

    font-family: $font-heading;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    flex: 0 0 auto;
    height: 50%;
    padding: 1rem 1.3rem;
    box-sizing: border-box;
    // background-color: #ecf0f1;

    &__row {
      display: flex;
      flex-flow: row;
      margin-top: 0.5rem;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #2c3e50;

    @media (min-width: $min-768) {
      font-size: 1.25rem;
    }
  }

  &__description {
    height: 65%;
    overflow: hidden;
    color: #95a5a6;
    @include rf(14, 16);

    font-weight: 300;
    line-height: (26 / 14);
  }

  &__button {
    padding: 0.5rem 1.2rem;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ecf0f1;
    background-color: rgba(#37393a, 0.5);
    border-radius: 0.25rem;
    transition: 0.4s;
    margin-right: 1rem;

    @media (min-width: $min-768) {
      padding: 0.75rem 1.5rem;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(#37393a, 0.7);
    }
  }

  &__button_live {
    padding: 0.5rem 1.2rem;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ecf0f1;
    background-color: rgba(#ff6b6b, 0.7);
    border-radius: 0.25rem;
    transition: 0.4s;

    @media (min-width: $min-768) {
      padding: 0.75rem 1.5rem;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(#ff6b6b, 0.9);
    }
  }
}
